fastapi==0.95.0
uvicorn==0.20.0
websockets==10.4
pyngrok==6.0.0
openai-whisper
torch==2.0.0
soundfile==0.12.1
numpy==1.24.2
pydantic==1.10.7
prometheus-client==0.16.0
python-dotenv==1.0.0

### DB
psycopg2-binary==2.9.9
passlib>=1.7.4
bcrypt<4.0
python-jose[cryptography]==3.3.0
SQLAlchemy
asyncpg
motor
python-multipart
PyJWT
pydantic[email]
redis